<div class="align-items-center" style="display: flex; flex-direction: column;">
    <div class="explore-title">
        <h2 class="mb-3">Explore Bangalore!</h2>
    </div>
    <p class="description">
        These are some of the places that you might want to check out while you are here.
        The places listed down here are in closer proximity to the venue or hotel, some of them might be a
        little bit far away but all of them are within ~10km. To know more details of each place you can click
        on the card, also timings and approximate distance can be viewed.
    </p>
    <div class="places-container">
        <app-placesgrid></app-placesgrid>
    </div>
</div>