<div class="align-items-center" style="display: flex; flex-direction: column;">
    <div class="conference-title">
        <h2 class="mb-3">BootCamp Schedule</h2>
    </div>
    <div class="align-items-center">
    <div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Activities</th>
            <th>SPOC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Taking of pictures</td>
            <td>Sanjay Saatyaki (MS/ETB33-PS), Pritha Kuppusamy (MS/ETB33-PS)</td>
          </tr>
          <tr>
            <td>Infrastruuture related to Workshop</td>
            <td>Lokanath Behera (MS/ETB33-PS), Deeksha K Shetty (MS/ETB33-PS)</td>
          </tr>
          <tr>
            <td>Evening outside plan</td>
            <td>Lokanath Behera (MS/ETB33-PS), Shruthi Dharbal Radhakrishna (MS/ETB33-PS), Deeksha K Shetty (MS/ETB33-PS)</td>
          </tr>
          <tr>
            <td>Agenda Moderator</td>
            <td>Pritha Kuppusamy (MS/ETB33-PS), Keerthi Venkatasubramanya (MS/ETB33-PS)</td>
          </tr>
          <tr>
            <td>Action Points Recorder</td>
            <td>Hoang Minh Nghi (SX/BSV26-EA), Dau The Hung (SX/BSV26-EA)</td>
          </tr>
          <tr>
            <td>Workshop Moderator</td>
            <td>Jaiswal Drishti (MS/ETB33-PS), Shruthi Dharbal Radhakrishna (MS/ETB33-PS)</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>    
    <div class="align-items-center" style="margin-right: 100px;">
        <app-timetable></app-timetable>
    </div>

</div>