<div class="container display-places">
  <!-- <div class="row"> -->
  <div class="row col-12 parent col-gap">
    <div class="col-12 col-md-4 col-sm-12 col-xs-12  col-lg-4 image-card">
      <button type="button" class="element-container card shadow p-3 mb-5 bg-body rounded image-button image-button" data-bs-toggle="modal"
        data-bs-target="#lalbagh-modal">
        <img src="/assets/images/places/lalbagh.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title"> LalBagh Botanical Garden </h3>
        <!-- <div class="card tags"><span class="tags-content">Garden</span></div> -->
      </button>
    </div>
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <button type="button" class="element-container card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#vidhanasoudha-modal">
        <img src="/assets/images/places/vidhanasoudha.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title"> Vidhana Soudha </h3>
      </button>
    </div>
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <button type="button" class="element-container card card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#ngma-modal">
        <img src="/assets/images/places/NGMA.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title">National Gallery Of Modern Art</h3>
      </button>
    </div>
  <!-- </div>
  <br />
  <div class="row col-12 parent col-gap"> -->
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <div class="element-container card card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#bp-modal">
        <img src="/assets/images/places/BanaglorePalace.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title">Bangalore Palace</h3>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <div class="element-container card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#rmas-modal">
        <img src="/assets/images/places/RangoliMetroArtStation.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title">Rangoli Metro Art Station</h3>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <div class="element-container card card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#igmfp-modal">
        <img src="/assets/images/places/MusicalFountain.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title">Indira Gandhi Musical Fountain Park</h3>
      </div>
    </div>
  <!-- </div>
  <br />
  <div class="row col-12 parent col-gap"> -->
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <div class="element-container card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#bt-modal">
        <img src="/assets/images/places/BullTemple.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title">Bull Temple</h3>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <div class="element-container card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#iskcon-modal">
        <img src="/assets/images/places/ISKCON.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title">ISKCON Temple</h3>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-12 col-xs-12   col-lg-4 image-card">
      <div class="element-container card shadow p-3 mb-5 bg-body rounded image-button" data-bs-toggle="modal"
        data-bs-target="#ul-modal">
        <img src="/assets/images/places/UlsoorLake.jpg" height="218" width="318" style="padding: 10px;">
        <h3 class="place-title">Ulsoor Lake</h3>
      </div>
    </div>
  </div>
  <br />
</div>

<div id="lalbagh-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">LalBagh Botanical Garden</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          A haven for all nature lovers, Lal Bagh is nationally and internationally renowned centre for botanical
          artwork.
          The garden features rare plants of French, Persian and Afghani origin.
          This botanical garden, also consists of the famous glass house where an annual flower show is held every year.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">6:00 AM - 7:00 PM</span>
          <span class="timing-details" style="float: right;">~2.6 km from Chancery</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="vidhanasoudha-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">LalBagh Botanical Garden</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          Vidhana Soudha also popularly known as the 'Taj Mahal of South India' houses the State Legislature and the
          Secretariat of Karnataka and is one of the most popular attractions in the lively and colourful city of
          Bengaluru.
          The entire monument is illuminated on Sundays and public holidays and is a sight for sore eyes.
          Entry inside the monument is restricted.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">10:00 AM - 5:30 PM</span>
          <span class="timing-details" style="float: right;">~3.7 km from Chancery</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="ngma-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">National Gallery Of Modern Art</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          This art gallery houses over 14,000 incredible works of contemporary and modern artists, the top notch
          collection include spectacular paintings and sculptures from Raja Ravi Verma, Jamini Roy, Amrita Sher-Gil, and
          Rabindranath Tagore.
          The depository showcases cultural ethos of India from periods as early as the 18th century.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">10:00 AM - 5:00 PM</span>
          <span class="timing-details" style="float: right;">~4.6 km from Chancery</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="bp-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">Bangalore Palace</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          The Bangalore Palace was built to resemble Windsor Castle. This quirky palace is filled with an interesting
          and eclectic collection of art and paraphernalia from a bygone era.
          The palace grounds are a popular venue for rock concerts and other music events.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">10:00 AM - 5:30 PM</span>
          <span class="timing-details" style="float: right;">~5.3 km from Chancery</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="igmfp-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">Indira Gandhi Musical Fountain Park</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          This Musical Fountain is probably one of the biggest artificially
          created fountains in India. The magnanimous fountains surrounded by lush gardens hosts two nightly
          light and sound shows per day. The show together with rhythmic dancing of the sparkling water is an enchanting
          site.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">7:00 PM - 8:30 PM</span>
          <span class="timing-details" style="float: right;">~4.7 km from Chancery</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="rmas-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">Rangoli Metro Art Station</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          It's a thriving activity centre that encourages people to come by for classical dance recitals, traditional
          board games, jam sessions, hoop circles and plays. You can even get your hands dirty at pottery classes and
          voice your opinions on citizen initiatives. With three gallery spaces in the centre, there’s also plenty of
          art to gawk at while you’re there. While you are there, check out the Friendship Point too with your gang.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">10:00 AM - 7:30 PM</span>
          <span class="timing-details" style="float: right;">~2 km from Chancery</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="bt-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">Bull Temple</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          The Bull Temple, also known as Nandi Temple, is one of the oldest temples in the city of Bengaluru and and is
          the biggest temple dedicated to Nandi in the world.
          The entire sculpture of the bull is carved out of one single granite rock. The statue is 4.5 meters high and
          6.5 meters long.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">6:00 AM - 8:00 PM</span>
          <span class="timing-details" style="float: right;">~5 km from Chancery</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="iskcon-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">ISKCON Temple</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          ISKCON temple is a cultural complex accommodating dedicated deities of Sri Sri Radha Krishnachandra, Sri Sri
          Krishna Balarama, Sri Sri Nitai Gauranga, Sri Srinivasa Govinda and Sri Prahlada Narasimha.
          The temple community conducts a wide variety of activities directed towards rediscovering spirituality on an
          individual level as well as creating a spirit of harmony in the community.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">7:15AM - 8:30 PM</span>
          <span class="timing-details" style="float: right;">~9.8 km from Chancery</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="ul-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 popup-title" id="exampleModalLabel">Ulsoor Lake</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="place-content">
          One of the largest lakes in Bangalore, sit back or walk in the periphery of the park or click a few shots of
          the endemic birds that call this destination their home. One of the most popular activities in Ulsoor Lake is
          boating. Closed on Wednesdays.
        </p>
        <p style="margin-top: 5px;">
          <span class="timing-details" style="float: left;">6:00 AM – 8:00 PM</span>
          <span class="timing-details" style="float: right;">~4.1 km from Chancery</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary footer-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>