<div class="background">
    <div class="count-down-timer">
        <app-countdown> </app-countdown>
    </div>
    <div class="venue-details">
        <div style="margin-top: 20px;">
            <section class="ftco-section services-section">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                            <div class="media block-6 services d-block">
                                <div><svg style="margin-top: -10px;" xmlns="http://www.w3.org/2000/svg" width="25"
                                        height="50" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                    </svg><span class="venue-head">Venue</span></div>
                                <div class="venue-body">
                                    <h5 style="font-weight: bold;">The Chancery Pavilion</h5>
                                    <p> 135, Residency Rd, Shanthala Nagar, Ashok Nagar, Bengaluru, Karnataka 560025,
                                        India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>